body {
    background-color: #f2f5f7;
    font-family: 'Raleway',sans-serif;
}

header {
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 2px 2px 7px 1px lightgray;
}

code {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
}

.paragraphe {
    background-color: white;
    box-shadow: 2px 2px 7px 1px lightgray;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-image: url("/images/bullet.png");
}

.row {
    width: 80%;
    margin-left: 11%;
}

h2 {
    font-size: 35px;
}

p{
    margin-right: 38%;
}

h1{
    font-size: 35px;
    margin-left: 11%;
}

.cose{
    margin-left: 11%;
    margin-right: 11%;
}