body {
    background-color: #f2f5f7;
    font-size: 12px;
    font-weight: bold;
}

header {
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 2px 2px 7px 1px lightgray;
}

code {
    background-color: #f1f1f1;
    border: 1px solid #e1e1e1;
}

.paragraphe {
    background-color: white;
    box-shadow: 2px 2px 7px 1px lightgray;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-image: url("/images/bullet.png");
}

.row {
    width: 80%;
    margin-left: 11%;
}



p{
    margin-right: 38%;
}

h1{
    margin-left: 11%;
}

.cose{
    margin-left: 11%;
    margin-right: 11%;
}

a {
    background-color: #ce0033;
    color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: small;
}

.column {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 120px;
}

h1,h2,h3 {
    font-size: 28px;
    font-weight: bold;
}

strong {
    font-weight: 1500;
}